<h4>Agregar formulario</h4>
<form class="row" (ngSubmit)="emitCharacter()">

    <input
    [(ngModel)]="character.name"
    name="name"
    class="form-control mb-2"
    type="text"
    placeholder="Nombre" autocomplete="off">

    <input 
    [(ngModel)]="character.power"
    name="power"
    class="form-control mb-2" 
    type="number" 
    placeholder="Poder" autocomplete="off">

    <button type="submit" class="btn btn-primary mx-2">Agregar</button>

    <!-- <pre>{{character | json}}</pre> -->

</form>
